################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MasterHub/.vs
/MasterHub/MasterHub/bin/Debug/net8.0
/MasterHub/MasterHub/obj
/MasterHub/MasterHub/Properties
